<?xml version="1.0"?>

<launch>
  
  <!-- Run the map server -->
  <arg name="map_file" default="$(find agv2_navigation)/map/guncelLab_v_2.yaml"/> <!-- teknoMap   yeniLab 	currentMap -->
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">

	</node>

<!-- __________________________________________ Localization ________________________________________ -->
<!-- ________________________________________ Run AMCL for agv ______________________________________ -->
  	<include file="$(find agv2_navigation)/launch/agv_amcl.launch" /> 


<!-- ____________________________________ Run Move Base for agv _____________________________________ -->
 	  <include file="$(find agv2_navigation)/launch/agv_move_base.launch" />
<!--		-> Global_Planner 	= Global		Local_Planner 	= DWA-->


  <!-- Run tf between map to odom for agv1  -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_agv1" args="0 0 0 0 0 0  map agv1/odom 100"/>

<node pkg="agv2_navigation" type="agv2_initial_pose" name="agv1_init"/> 

  
</launch>